body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

h1 {
  font-size: 65px;
  text-align: center;
  color: white;
  margin: 40px 0;
  /* border-bottom: #007dc5 5px solid; */
}

h2 {
  font-size: 55px;
  color: #00471b;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
}

h3 {
  font-size: 35px;
  color: #00471b;
  margin-top: 10px;
  margin-bottom: 15px;
}

h4 {
  font-size: 14px;
  margin-bottom: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.main-button {
  width: 130px;
  background-color: #f0ebd2;
  color: #00471b;
  border: 2px solid #f0ebd2;
  padding: 10px 0px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 15px;
  font-weight: bold;
}

.main-button:hover {
  background-color: white;
}

.main-button.clicked {
  border: 2px solid #00471b;
}

.secondary-button {
  width: 130px;
  background-color: white;
  color: #00471b;
  border: 2px solid #00471b;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.secondary-button:hover {
  background-color: #00471b;
  color: white;
}

.secondary-button.clicked {
  background-color: #00471b;
  color: white;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.profile-header h3 {
  margin-top: 50px;
  margin-left: 15px;
  margin-bottom: 0px;
}

.profile-button {
  background-color: #00471b;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-button:hover {
  color: #00471b;
  background-color: white;
}

.profile-button.clicked {
  color: #00471b;
  background-color: white;
}

.profile-button.clicked:hover {
  background-color: #f0ebd2;
}

#header {
  margin-top: 25px;
  width: 100%;
  background-color: #00471b;
  color: white;
  border-radius: 5px;
  border-bottom: 12px solid #f0ebd2;
}

#player-spotlight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin: 20px 0;
  margin-right: 20px;
}

.player-image {
  flex: 2;
  display: flex;
  justify-content: center;
}

.player-info {
  flex: 2;
  text-align: left;
}

.spotlight-paragraph {
  margin-bottom: 25px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  #player-spotlight {
    gap: 30px;
  }

  #details-info {
    gap: 20px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  #player-spotlight {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .player-image {
    justify-content: center;
  }

  img {
    max-width: 90%;
  }

  .line {
    display: none;
  }
}

#player-bio {
  margin-top: 25px;
  padding-top: 15px;
  width: 100%;
  background-color: #f0ebd2;
  border-radius: 5px;
}

.bio-info {
  padding: 0 20px;
}

#player-stats {
  margin-top: 25px;
  padding-top: 15px;
  width: 100%;
  background-color: #00471b;
  color: white;
  border-radius: 5px;
}

.stats-info {
  padding: 0 20px;
}

.stats-info h2 {
  color: white;
}

.stats-info h3 {
  color: white;
}

#player-details {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 10px;
  width: 100%;
  border: 3px solid #007dc5;
  border-radius: 5px;
}

.details-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 0 20px;
  gap: 50px;
  row-gap: 5px;
}

.detail-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.line {
  background-color: white;
  width: 2px;
  height: 70px;
  margin-top: 20px;
}
